.graph {
  width: 100%;
  height: 300px;
  border: 1px solid #ddd;
}
.graph .axis path, .graph .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.graph .line {
  fill: none;
  stroke-width: 1.5px;
}
.graph .type_a {
  stroke: #25a735;
}
.graph .type_m {
  stroke: #f6651c;
}
.graph .x.axis line, .graph .y.axis line {
  stroke: lightgrey;
}
.graph .x.axis path {
  display: none;
}
.graph .legend rect.type_a {
  fill: #25a735;
}
.graph .legend rect.type_m {
  fill: #f6651c;
}
